<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PdfX - Image to Pdf</title>
    <link rel="stylesheet" href="{% static 'testapp/style.css' %}">
    <link rel="icon" href="https://play-lh.googleusercontent.com/kXHLqzBASXjDuVVEVPRuFvdLRDU2GAiS7BBA9uOLB-uiKByzt4-YDhmBfuLaWIV_7xJ6" type="image/x-icon" >

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <main>
        <nav>
            <li> <img src="{% static 'testapp/images/logo.png' %}" alt=""></li>
            <li id="showMenu">

            </li>

        </nav>

        <div id="menu">
          

        </div>
        <form id="uploadForm" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="dropcontainer">
                <div class="droparea">
                    <label class="custom-file-label">
                        <div class="text">
                            <h3><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            </h3>
                            <h3>Drag and Drop your Images to get output Pdf here.</h3>
                        </div>
                        <a href="">Browse to upload</a>
                        <input type="file" name="image" class="file-input" id="fileInput" accept="image/*" required>
                    </label>

                </div>
            </div>
        </form>
        <div class="textarea">



            <h1>
                Convert Image to PDF
            </h1>
            <h3>Upload your Images, which you want to convert into the Pdf format.</h3>

        </div>

     


    </main>
    <script>
        const btn = document.getElementById('showMenu');
        const div = document.getElementById('menu');
        btn.addEventListener('click',function (e) {
            e.preventDefault(); // prevent default anchor behavior
            
   
                    div.classList.toggle('show');
            div.style.display = (div.style.display === 'block') ? 'none' : 'block';
          


        });

        // When file is selected, auto-submit form
        document.getElementById('fileInput').addEventListener('change', function () {
            document.getElementById('uploadForm').submit();
        });
    </script>
</body>

</html>



